<form action="/cars" method="post">
  <label for="makemodel">Add new MakeModel</label>
  <input id="makemodel" name="makemodel" type="text">
  <label for="price">Add Price</label>
  <input id="price" name="price" type="text">
  <label for="miles">Add new Miles</label>
  <input id="miles" name="miles" type="miles">
  <button type="submit">Submit</button>
</form>